*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.LUNA{
    /* border: 2px solid black; */
    padding: 30px;
    background-color: rgba(0, 0, 139, 0.944);

    font-size: 20px;
}
.luna2{
    /* border: 2px solid black; */
    width: 100px;
    margin: auto;
    padding-top: 20px 20px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.ul{
    /* border: 2px solid black; */
    margin: auto;
    padding-top: 20px 20px;
    height: 50px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    margin-top: 10px;
    list-style: none;
        



}
.ul li{
    /* border: 2px solid black; */
    margin: 20px;
    padding: 20px;
    height: 20px;
    font-size: 20px;
    /* background-color: white; */
}
.home1{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home2{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home3{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home4{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home5{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home6{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.LUNA ul li a:hover{
    color: red;
}